@page "/"

@using FHIRBlazor.CustomComponents
@using Radzen.Blazor;

@inject NavigationManager NavManager

<PageTitle>Index</PageTitle>

@*<h1>FHIR WebApp!</h1>*@


<div class="row">
	<div class="col-md-4">
		<RadzenCard class="m-3">
			<h1 class="h1 text-center">Search by Name</h1>
			<RadzenButton Text="Go to page" ButtonStyle="ButtonStyle.Secondary" Class="" Click="@(()=>NavManager.NavigateTo("/searchbyname"))" />
		</RadzenCard>
	</div>
	<div class="col-md-4">
		<RadzenCard class="m-3">
			<h1 class="h1">Page</h1>
			<RadzenButton Text="Link" ButtonStyle="ButtonStyle.Secondary" />
		</RadzenCard>
	</div>
	<div class="col-md-4">
		<RadzenCard class="m-3">
			<h1 class="h1">Page</h1>
			<RadzenButton Text="Link" ButtonStyle="ButtonStyle.Secondary" />
		</RadzenCard>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<RadzenCard class="m-3">
			<h1 class="h1">Page</h1>
			<RadzenButton Text="Link" ButtonStyle="ButtonStyle.Secondary" />
		</RadzenCard>
	</div>
	<div class="col-md-4">
		<RadzenCard class="m-3">
			<h1 class="h1">Page</h1>
			<RadzenButton Text="Link" ButtonStyle="ButtonStyle.Secondary" />
		</RadzenCard>
	</div>
	<div class="col-md-4">
		<RadzenCard class="m-3">
			<h1 class="h1">Page</h1>
			<RadzenButton Text="Link" ButtonStyle="ButtonStyle.Secondary" />
		</RadzenCard>
	</div>
</div>

<!-- <div class="col-lg-6 col-xl-4 offset-lg-3 offset-xl-4">-->