@page "/test"
@using Hl7.Fhir.Model;
@using Hl7.Fhir.Rest;
@using Hl7.Fhir.Serialization;

@inject NotificationService NotificationService
@inject DialogService DialogService


<PageTitle>Testing</PageTitle>

<div class="my-3">
	<h1 class="text-center font-bold text-4xl">Testing</h1>
</div>





@code {

}
