.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  height: 100%;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(2px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  height: 100%;
  min-height: 100vh;
}


