@*This page is the Diagnostic Reports tab show on the PatientInfo page. It returns all the known Diagnostic Reports linked to a patient ID*@

@page "/diagnosticreports/{PatientID}"
@using Hl7.Fhir.Model;
@using Hl7.Fhir.Rest;
@using Hl7.Fhir.Serialization;
@using FHIRBlazor.Pages;
@using FHIRBlazor.CustomComponents.TypeHandlers
@using FHIRBlazor.CustomComponents.Other

@inject DialogService DialogService
@inject NotificationService NotificationService
@inject NavigationManager NavManager

@if (!loading)
{
	<ErrorBoundary>
		<ChildContent>
			<RadzenDataGrid Data="@results" TItem="DiagnosticReport" PageSize="8" AllowPaging="true"
						AllowFiltering="true" AllowColumnResize="true" AllowSorting="true"
						PagerHorizontalAlign="HorizontalAlign.Center">
				<Columns>
					<RadzenDataGridColumn TItem="DiagnosticReport" Width=60% Property=Code Title="Report" Filterable="false" Sortable="false">
						<Template Context="report">
							<CodeableConceptHandler Data=report.Code />
						</Template>
					</RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="DiagnosticReport" Property="Category" Title="Category" Filterable="false" Sortable="false">
						<Template Context="report">
							@foreach (var category in report.Category)
							{
								<CodeableConceptHandler Data=category />
								<a> </a>
							}
						</Template>
					</RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="DiagnosticReport" Property="Id" Title="ID">
						<Template Context="report"><a href="@($"{NameSearch.serverURL}/DiagnosticReport/{report.Id}")">@report.Id</a></Template>
					</RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="DiagnosticReport" Width=60px Property="Id" Title="View" Filterable="false" Sortable="false">
						<Template Context="report">
							<RadzenButton Icon="open_in_new" ButtonStyle="ButtonStyle.Light" Click=@(() => OpenReport(report.Id)) />
						</Template>
					</RadzenDataGridColumn>
				</Columns>
			</RadzenDataGrid>
		</ChildContent>
		<ErrorContent>
			<RadzenCard class="m-3">
				<h3 class="h5"><b>There was an error</b></h3>
			</RadzenCard>
		</ErrorContent>
	</ErrorBoundary>
}
else
{
	<Spinner Text="Diagnostic Reports" />
}

@code {
	public async System.Threading.Tasks.Task OpenReport(string reportID)
	{
		await DialogService.OpenAsync<ViewReport>($"Report {reportID}",
				new Dictionary<string, object>() { { "ReportID", reportID } },
				new DialogOptions
					{
						Width = "1200px",
						Height = "700px",
						Resizable = true,
						Draggable = true,
						CloseDialogOnOverlayClick = true,
						CloseDialogOnEsc = true,
						Style = "color: #e2e8f0"
					});
	}

	[Parameter] public string PatientID { get; set; }
	private Bundle search = new Bundle();
	private Hl7.Fhir.Model.DiagnosticReport[]? results;
	private Boolean loading = true;

	void ShowError(NotificationMessage message)
	{
		NotificationService.Notify(message);
		Console.WriteLine($"{message.Severity} notification");
	}
	private string errorMessage = "";

	FhirClient client = new FhirClient(NameSearch.serverURL);

	public async ValueTask<Boolean> GetReportsData()
	{
		loading = true;
		var sParams = new SearchParams()
			.Where("patient=" + PatientID)
			.LimitTo(100);

		search = client.Search<DiagnosticReport>(sParams);
		results = new DiagnosticReport[search.Entry.Count];

		//for every search result
		for (int i = 0; i < search.Entry.Count; i++)
		{
			results[i] = (DiagnosticReport)search.Entry[i].Resource;
		}

		loading = false;
		return true;
	}

	protected override async System.Threading.Tasks.Task OnInitializedAsync()
	{
		await System.Threading.Tasks.Task.Delay(1);
		try
		{
			await GetReportsData();
		}
		catch (Exception ex)
		{
			errorMessage = ex.Message;
			ShowError(new NotificationMessage
				{
					Style = "position: relative; top: 1%; left: 60%; transform: translate(-35%, 35%); width: 60%; max-width: 3000px;",
					Severity = NotificationSeverity.Error,
					Summary = "There has been an error",
					Detail = errorMessage,
					Duration = 40000
				}
			);
			Console.WriteLine("Error info:" + ex.Message);
		}
		return;
	}
}




