@inherits LayoutComponentBase

@if (_darkMode)
{
	<link rel="stylesheet" href="_content/Radzen.Blazor/css/dark-base.css" />
}

<PageTitle>FHIRBlazor</PageTitle>

<RadzenNotification />

<div class="page @(_darkMode ? "dark" : "")">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main class="dark:bg-zinc-700">

		<div class=" dark:top-dark top-row px-4 dark:bg-zinc-800 borderless">
			<ThemeToggle OnDarkModeToggled="@HandleDarkModeToggled" />
		</div>

		<article class="content px-4 align dark:text-slate-200 ">
			@Body
		</article>


	</main>
</div>

@code {
    bool _darkMode = false;

	private void HandleDarkModeToggled(bool isDarkMode)
	{
		_darkMode = isDarkMode;
		Console.WriteLine(_darkMode);
	}
}