<RadzenCard class="w-full">
	<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
	<h3 class="h5"><b> </b></h3>
	<h3 class="h5"><b>Loading @Text....</b></h3>
</RadzenCard>

@code {
	[Parameter] public string Text { get; set; }
}