h3 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    text-align: center;
}

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  height: 100%;
  min-height: 100vh;
  font-size: larger;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: large;
  color: white;
}

.App h1 {
  font-size: 40px;
}

.App-link {
  color: #61dafb;
}

.container {
  height: 100%;
  min-height: 100vh;
}

.navbar {
	margin-bottom: 1rem;
}

.page-heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.ag-theme-balham-dark {
  padding: 0 0 4rem 0;
}