h4 {
    padding-top: 3rem;
    padding-left: 4%;
    text-align: left;
}

h5.card-title.text-left {
    text-align: left;
    margin: auto;
}

.card-header {
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.05) !important;
    margin-bottom: 1rem !important;
}

.PatientInfo-table, th, td {
    margin: auto;
    font-size: large;
    text-align: left;
    width: 30vw;
    border: 2px solid antiquewhite;
    border-collapse: collapse;
}

.ag-row .ag-cell {
    text-align: left;
}

.ag-header-cell-label {
    justify-content: left;
}

div p {
    text-align: left;
    padding: 0 0 0 4%;
    margin-bottom: 0px;
}