.search-bar-group {
  display: flex;
  flex-direction: column;
}

.searchInput {
  margin-top: 105px;
  display: flex;
}

.search-input-container {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

.search-input {
  width: 100% !important;
}

.search-selector-container {
  display: flex;
  justify-content: center;
}

.search-selector-label {
  margin-right: 1rem;
}

.search-selector {
  width: 50% !important;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.searchIcon {
  height: 60px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}

.searchIcon svg {
  font-size: 35px;
  color: rgb(76, 74, 74);
}

a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}
